:root {
  font-size: 16px;
  /* COLORS */
  --light-blue: #b6c9f0;
  --light-pink: #f5abc9;
  --blue: #2978b5;
  --dark-purple: #1a508b;
  --purple-blue: #185adb;
  --dark-blue: #0a1931;
  --yellow: #ffc947;
  --white: #f8f5f1;
  --black: #222831;
  --error-color: #eb3f3f;

  /* PROPERTIES */
  --transition: all 0.25s ease;
  --small-radius: 11px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--light-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
